{% load blog_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/lunasspecto.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, intiial-scale=1" />
    <title>{{ article.title|striptags }}&mdash;hamster.dance blog</title>
  </head>
  <body>
    <h1>{{ article.title|safe }}</h1>
    <p><em>
      Published {{ article.published|date:"j M Y" }},
      last modified {{ article.modified|date:"j M Y" }}
    </em></p>
    {{ article.body|markdown|safe }}
    <p><em>
      Tags:
      {% for tag in tags %}
      <a href="{% url 'blog:tag' tag.name %}">{{tag.name}} </a>
      {% endfor %}
    </em></p>
    <hr />
    <a href="/">home</a>
    &gt;
    <a href="{% url 'blog:index' %}">blog</a>
  </body>
</html>
