{% load blog_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/lunasspecto.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, intiial-scale=1" />
    <title>hamster.dance blog</title>
  </head>
  <body>
    <h1>hamster.dance blog</h1>
    {% for article in articles %}
    <hr />
    <a href="{% url 'blog:article' article.slug %}">
      <h2>{{ article.title|safe }}</h2>
    </a>
    <p><em>
      Published {{ article.published|date:"j M Y" }},
      last modified {{ article.modified|date:"j M Y" }}
    </em></p>
    {{ article.body|markdown|safe }}
    {% endfor %}
    <footer>
      <hr />
      <a href="{% url 'blog:rss' %}">RSS feed</a>
      {% if page_number > 1 %}
      <a href="{% url 'blog:page' previous_page %}">newer articles</a>
      {% endif %}
      {% if not last_page %}
      <a href="{% url 'blog:page' next_page %}">older articles</a>
      {% endif %}
      <br />
      <a href="/">home</a>
    </footer>
  </body>
</html>
