{% load blog_extras %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/lunasspecto.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ tag.name }}&mdash;hamster.dance blog</title>
  </head>
  <body>
    <h1>hamster.dance blog articles tagged "{{ tag.name|escape }}"</h1>
    {% for article in articles %}
    <a href="{% url 'blog:article' article.slug %}">
      <h2>{{ article.title|safe }}</h2>
    </a>
    <p><em>
      Published {{ article.published|date:"j M Y" }}
    </em></p>
    <p>{{ article.description }}</p>
    {% endfor %}
    <footer>
      <hr />
      {% if page_number > 1 %}
      <a href="{% url 'blog:tag_page' tag.name previous_page %}">newer articles</a>
      {% endif %}
      {% if not last_page %}
      <a href="{% url 'blog:tag_page' tag.name next_page %}">older articles</a>
      {% endif %}
      {% if page_number > 1 or not last_page %}
      <br />
      {% endif %}
      <a href="/">home</a>
      &gt;
      <a href="{% url 'blog:index' %}">blog</a>
    </footer>
  </body>
</html>
